// textarea {
//   border: 1px solid #888;
//   outline: none;
//   resize: none;
//   overflow: auto;
//   // white-space: nowrap;
//   // white-space: pre;
//   // overflow-wrap: normal;
//   // overflow-x: scroll;
// }

#container {
  width: 960px;
  margin: 30px auto;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 22px;
  line-height: 30px;
}
